*
!.gitignore
!PLL_25*
!/quartus-project
!/quartus-project/RISCV_CPU_FPGA.v
!/quartus-project/RISCV_CPU_FPGA.qpf
!/quartus-project/RISCV_CPU_FPGA.htm
!/quartus-project/RISCV_CPU_FPGA_assignment_defaults.qdf
!/quartus-project/CPU.bdf
!/quartus-project/CPU_pipelined.bdf
!/quartus-project/soc_system.qsys
!/quartus-project/assemble-inst.sh
!/quartus-project/code.s
!/quartus-project/*.qsf

!/quartus-project/v_src
!/quartus-project/v_src/*.v
!/quartus-project/mux_src
!/quartus-project/mux_src/**
!/quartus-project/module_symbols
!/quartus-project/module_symbols/*
!/quartus-project/ip
!/quartus-project/ip/**
!/quartus-project/soc_system
!/quartus-project/soc_system/**

