# Ignore files & directories in the root
/*
/*/
/rv32i_cpu_de10_nano/*

# un-ignore files
!.gitignore
!README.md

# un-ignore files in the quartus project
!/rv32i_cpu_de10_nano
!/rv32i_cpu_de10_nano/modules
!/rv32i_cpu_de10_nano/rv32i_cpu_de10_nano.htm
!/rv32i_cpu_de10_nano/rv32i_cpu_de10_nano.qpf
!/rv32i_cpu_de10_nano/rv32i_cpu_de10_nano.qsf
!/rv32i_cpu_de10_nano/rv32i_cpu_de10_nano.sdc
!/rv32i_cpu_de10_nano/rv32i_cpu_de10_nano.v
